body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#task-pool, #users-continer {
	/*border: 1px solid black;*/
	padding: 20px;
	margin-bottom: 20px;
}

#users-continer ul {
	float: left;
	margin-right: 30px;
}
