body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

#task-pool, #user1, #user2, #user3 {
/*border: 1px solid #111;*/
/*width: 242px;*/
/*height: 400px;*/
min-height: 20px;
list-style-type: none;
margin: 0;
padding: 5px 0 0 0;
/*float: left;*/
margin-right: 10px;
}
#task-pool li, #user1 li, #user2 li, #user3 li {
margin: 0 5px 5px 5px;
padding: 5px;
font-size: 0.9em;
width: 100%;
}

.panel {
	/*min-height: 250px;*/
}